.navbar-custom {
    background-color: #02C72D!important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 36px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: red;
}

.container-custom {
	padding-left: 50px!important;
	padding-right: 50px!important;
	max-width: -webkit-fill-available!important;
}

.select-form {
	height: fit-content;
	margin-top: 50px;
}

.select-form form {
	width: 50%;
}

.select-form div {
	width: 100%;
}

.select-form select {
	width: 100%;
	border: 1px solid black;
}

.btn {
	border-radius: 30px;
	width: 200px;
}


.nav-item .dropdown-menu {
	margin-left: 20px;
}


#positivity-graph-container {
	width: 90%;
	height: 300px;
	margin: auto;
	margin-top: 100px;
}

.circle {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: inline-block;
	margin: auto;
}

.yellow {
	background-color: #FFC700;
}

.red {
	background-color: #fc4903;
}

.green {
	background-color: #00e31a;
}

.senti-font {
	color: #fff;
	font-size: 56px;
	margin-top: 30px;
	font-weight: 500;
}

.footer {
   position: fixed;
   min-height: 70px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   font-size: 14px;
   padding-bottom: 20px;
}

.footer .col-md-4 {
	margin-top: 25px
}




