<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">About moola</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Moola is a stock sentiment analysis tool. For each company that is queried, moola scrapes relevant articles from Motley Fool and then uses IBM Watson's NLP API to perform a sentiment reading on these articles. </p>
        <p>Moola gives users an emotional analysis reading for each company by providing a score from 0 to 1 on 5 emotional axes:</p> 
        <ol>
            <li>Sadness</li>
            <li>Joy</li>
            <li>Fear</li>
            <li>Disgust</li>
            <li>Anger</li>
        </ol>
        <p>Moola also provides a sentiment analysis score:</p>
        <ul>
            <li>Positive: Scores between 0.34 and 1.00</li>
            <li>Neutral: Scores between -0.33 and 0.33</li>
            <li>Negative: Scores between -1.0 and 0.32</li>
        </ul>
        <p>Feedback/improvements are greatly appreciated! If you have an improvement in mind, please submit a pull request on <a noopener noreferrer target="_blank" href="https://github.com/ndongre98/moola">moola's GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>