{% extends "layout.html"%}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
    <a href="#" class="navbar-brand d-flex w-50 mr-auto" style="margin-left: 30px">moola</a>
    <ul class="navbar-nav ml-auto w-100 justify-content-end" style="margin-right: 50px">
        <li class="nav-item dropdown btn btn-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ session["username"] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Log Out</a>
            </div>
        </li>
    </ul>
</nav>
<div class="container container-custom text-center">
    <div class="row select-form">
        <form method=GET>
            <div class="form-group">
                <select class="form-control selectpicker"
                        name="query_select" 
                        title="Select stocks of interest"
                        id="query_select"
                        data-live-search="true">
                    {% for item in keywords %}
                        <option data-tokens="{{ item.data_tokens }}" value="{{ item.symbol }}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
	<div class="row align-items-center">
		<div class="col-md-6">
            <div class="row text-center">
                <div id="graph-container" style="width: 90%; height: 300px; margin: 50px auto auto">
                </div>
            </div>
		</div>
		<div class="col-md-4 text-center" style="margin-top: 50px">
			<div id="positivity-graph-container" style="margin: auto">
			</div>
		</div>
		<div class="col-md-2 text-center" style="margin-top: 50px">
			<div id="sentiment-graph-container">
			</div>
		</div>
	</div>
</div>

<div class="footer">
  <div class="row align-items-center">
    <div class="col-md-4">
        <!-- TODO: Modal for About and Cookie Policy -->
        <a href="###">About</a>
        <a href="###">Cookies</a>
        <a href="https://github.com/ndongre98/moola">GitHub</a>
    </div>
    <div class="col-md-4">
        ©2020, moola
    </div>
    <div class="col-md-4">
        Made with love by <a href="https://www.namitadongre.me/">Namita Dongre</a> 
    </div>
  </div>
</div>

<script>
    // Create deposits chart
    $.ajaxSetup({
      cache:false
    });

    $(function() {
        $('select#query_select').bind('change', function() {
          $.getJSON($SCRIPT_ROOT + '/query_stock_info', {
            query: $('select[name="query_select"]').val(),
          }, function(data) {
            sent = data["sentiment_analysis"]
            values = [sent['sadness'], sent['joy'], sent['fear'], sent['disgust'], sent['anger']];

            colorClass = "red";
            if (sent["sentiment"] < -0.33) {
                colorClass = "red";
            }
            else if (sent["sentiment"] > .33) {
                colorClass = "green";
            }

            senti_elem = '<div class="circle ' + colorClass + '"><p class="senti-font">' + sent["sentiment"].toFixed(2) + '</p></div>';
            $('#sentiment-graph-container').html(senti_elem)

            $('#positivity-graph-container').highcharts({
                chart: {
                    polar: true,
                    type: "area",
                },
                xAxis: {
                    categories: ['Sadness', 'Joy', 'Fear', 'Disgust',
                        'Anger'],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0
                },
                title: {text: '' },
                series: [{
                    showInLegend: false, 
                    name: 'Emotional Analysis',
                    data: values,
                    color: "#17ACFF",
                    fillOpacity: .7,
                    tooltip: {
                        valueDecimals: 2,
                    }
                }],
            });

            Highcharts.stockChart('graph-container', {
                rangeSelector: {
                    selected: 1
                },
                series: [{
                    name: data["symbol"],
                    data: data["chart_data"],
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
          });
          return false;
        });
    }); 
</script>
{% endblock%}