{% extends "layout.html"%}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
    <a href="#" class="navbar-brand d-flex w-50 mr-auto" style="margin-left: 30px">moola</a>
    <ul class="navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item dropdown">
            <span class="inline-span"><div class="circletag">&nbsp;</div></span>
            <a class="nav-link dropdown-toggle inline-span" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{{ session["username"] }}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Sign Out</a>
            </div>
      </li>
    </ul>
</nav>
<div class="container container-custom text-center">
    <div class="row select-form">
        <form method=GET>
            <div class="form-group">
                <select class="form-control selectpicker"
                        name="query_select" 
                        title="Select stocks of interest"
                        id="query_select"
                        data-live-search="true">
                    {% for item in keywords %}
                        <option data-tokens="{{ item.data_tokens }}" value="{{ item.symbol }}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="row text-center align-items-center">
        <div class="col text-center">
            <div class="loader"></div>
        </div>
    </div>
	<div class="row align-items-center">
		<div class="col-md-6 content">
            <div class="row text-center">
                <div id="graph-container" style="width: 90%; height: 300px; margin: 50px auto auto">
                </div>
            </div>
		</div>
		<div class="col-md-4 text-center content" style="margin-top: 50px">
			<div id="positivity-graph-container" style="margin: auto">
			</div>
		</div>
		<div class="col-md-2 text-center content" style="margin-top: 50px">
            <p class="senti-label"></p>
			<div id="sentiment-graph-container">
			</div>
		</div>
	</div>
</div>

{% include "about_modal.html" %}

<div class="footer">
  <div class="row align-items-center">
    <div class="col-md-4">
        <!-- TODO: Modal for About and Cookie Policy -->
        <button type="button" class="btn footer-btn" data-toggle="modal" data-target="#myModal">About</button>
        <button type="button" class="btn footer-btn" id="github-btn">GitHub</button>
        <button type="button" class="btn footer-btn" id="contact-btn">Contact</button>
    </div>
    <div class="col-md-4">
        ©2020, moola
    </div>
    <div class="col-md-4">
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a noopener noreferrer target="_blank" href="https://www.namitadongre.me/">Namita Dongre</a> 
    </div>
  </div>
</div>

<script>
    // Create deposits chart
    $.ajaxSetup({
      cache:false
    });

    $("button#github-btn").bind('click', function () {
        window.open("https://github.com/ndongre98/moola", '_blank');
    });
    
    $("button#contact-btn").bind('click', function () {
        window.open("https://t.me/ndongre", '_blank');
    });
    
    $(function() {
        $('div.loader').css('display', 'none');        

        $('select#query_select').bind('change', function() {
          $('div.content').css('display', 'none');
          $('div.loader').css('display', 'block');

          $.getJSON($SCRIPT_ROOT + '/query_stock_info', {
            query: $('select[name="query_select"]').val(),
          }, function(data) {
            $('div.content').css('display', 'block');
            $('div.loader').css('display', 'none');

            sent = data["sentiment_analysis"]
            values = [sent['sadness'], sent['joy'], sent['fear'], sent['disgust'], sent['anger']];

            colorClass = "red";
            if (sent["sentiment"] < -0.33) {
                colorClass = "red";
            }
            else if (sent["sentiment"] > .33) {
                colorClass = "green";
            }

            senti_elem = '<div class="circle ' + colorClass + '"><p class="senti-font">' + sent["sentiment"].toFixed(2) + '</p></div>';
            $('p.senti-label').text('Sentiment Score');
            $('#sentiment-graph-container').html(senti_elem)


            $('#positivity-graph-container').highcharts({
                chart: {
                    polar: true,
                    type: "area",
                },
                xAxis: {
                    categories: ['Sadness', 'Joy', 'Fear', 'Disgust',
                        'Anger'],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0
                },
                title: {text: 'Emotional Analysis' },
                series: [{
                    showInLegend: false, 
                    name: 'Emotional Analysis',
                    data: values,
                    color: "#17ACFF",
                    fillOpacity: .7,
                    tooltip: {
                        valueDecimals: 2,
                    }
                }],
            });

            Highcharts.stockChart('graph-container', {
                rangeSelector: {
                    selected: 1
                },
                title: {text: data["symbol"] + ' Stock Chart'},
                series: [{
                    name: data["symbol"],
                    data: data["chart_data"],
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
          });
          return false;
        });
    }); 
</script>
{% endblock%}