{% extends "layout.html"%}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
    <a href="###" class="navbar-brand d-flex w-50 mr-auto" style="margin-left: 30px">moola</a>
    <ul class="navbar-nav ml-auto w-100 justify-content-end" style="margin-right: 50px">
        <li class="nav-item dropdown btn btn-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ session["username"] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Log Out</a>
            </div>
        </li>
    </ul>
</nav>
<div class="container container-custom">
	<div class="row align-items-center">
		<div class="col-md-6">
            <div class="row select-form">
                <form method=GET>
                    <div class="form-group">
                        <select class="form-control selectpicker"
                                name="query_select" 
                                title="Select stocks of interest"
                                id="query_select"
                                data-live-search="true">
                            {% for item in keywords %}
                                <option data-tokens="{{ item.data_tokens }}" value="{{ item.symbol }}">{{item.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="row text-center">
                <div id="graph-container" style="width: 90%; height: 300px; margin: auto">
                </div>
            </div>
		</div>
		<div class="col-md-4 text-center">
			<div id="positivity-graph-container">
                <p id="stuff">
                </p>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<div id="sentiment-graph-container">
                <span class="circle"></span>
			</div>
		</div>
	</div>
</div>
<script>
    // Create deposits chart
    $.ajaxSetup({
      cache:false
    });

    $(function() {
        $('select#query_select').bind('change', function() {
          $.getJSON($SCRIPT_ROOT + '/query_stock_sentiment', {
            query: $('select[name="query_select"]').val(),
          }, function(data) {
            values = [data['sadness'], data['joy'], data['fear'], data['disgust'], data['anger']];
            $('#sentiment-graph-container').append(data["sentiment"])

            $('#positivity-graph-container').highcharts({
                chart: {
                    polar: true,
                    type: "area",
                },
                title: {
                    text: 'Emotional Analysis'
                },
                xAxis: {
                    categories: ['Sadness', 'Joy', 'Fear', 'Disgust',
                        'Anger'],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0
                },
                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.00f}</b><br/>'
                },
                credits: {
                    enabled: false
                },
                series: [{
                    showInLegend: false, 
                    name: 'Emotional Analysis',
                    data: values,
                    fillOpacity: 1.0,
                }],
            });
          });
          return false;
        });
    });

    $.getJSON('static/deposits.JSON',function (data) {
        $('#graph-container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Account Deposit'
            },
            
            xAxis: {
                ordinal: true,
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%m/%d/%Y'
                }
            },

            yAxis: {
                min: 0,
                title: {
                    text: 'Deposit Amount ($)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Deposit Amount',
                data: data
            }],

        });
    });
        
</script>
{% endblock%}