<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MOOLA | Your Money, Your World</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">


    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <!--script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script-->    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>
    <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <i class="fa fa-cog"></i> MOOLA
          </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ url_for('home') }}">Portfolio</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('personal') }}">Personal</a></li>
            <li role="presentation"><a href="{{ url_for('global_') }}">Global</a></li>  
        </ul>
    </div>
    <div class="container-fluid">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-4 col-md-offset-4">
                    <div>
                        You are logged in as {{ session['username']}}
                        <br>
                        Your total balance is {{ balance[0] }}
                    </div>
                    <div id="deposits" class="chart" style="height: 400px; min-width: 310px"></div>
                    <div class="spacer"></div>
                    <div id="withdrawals" class="chart" style="height: 400px; min-width: 310px"></div>
                    <br>
                    <script>
                        // Create deposits chart

                        $.ajaxSetup({
                          cache:false
                        });

                        $.getJSON('static/json/deposits.JSON',function (data) {
                            $('#deposits').highcharts({
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: 'Account Deposit'
                                },
                                
                                xAxis: {
                                    ordinal: true,
                                    type: 'datetime',
                                    dateTimeLabelFormats: {
                                        day: '%m/%d/%Y'
                                    }
                                },

                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Deposit Amount ($)',
                                        align: 'high'
                                    },
                                    labels: {
                                        overflow: 'justify'
                                    }
                                },
                                
                                plotOptions: {
                                    bar: {
                                        dataLabels: {
                                            enabled: true
                                        }
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'top',
                                    x: -40,
                                    y: 100,
                                    floating: true,
                                    borderWidth: 1,
                                    backgroundColor: '#FFFFFF',
                                    shadow: true
                                },
                                credits: {
                                    enabled: false
                                },
                                series: [{
                                    name: 'Deposit Amount',
                                    data: data
                                }]
                            });
                        });
                            
                    </script>
                    <script>
                        // Create withdrawals chart

                        $.ajaxSetup({
                          cache:false
                        });

                        $.getJSON('static/json/withdrawals.JSON',function (data) {
                            $('#withdrawals').highcharts({
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: 'Account Withdrawals'
                                },
                                
                                xAxis: {
                                    ordinal: true,
                                    type: 'datetime',
                                    dateTimeLabelFormats: {
                                        day: '%m/%d/%Y'
                                    }
                                },

                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Withdrawal Amount ($)',
                                        align: 'high'
                                    },
                                    labels: {
                                        overflow: 'justify'
                                    }
                                },
                                
                                plotOptions: {
                                    bar: {
                                        dataLabels: {
                                            enabled: true
                                        }
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'top',
                                    x: -40,
                                    y: 100,
                                    floating: true,
                                    borderWidth: 1,
                                    backgroundColor: '#FFFFFF',
                                    shadow: true
                                },
                                credits: {
                                    enabled: false
                                },
                                series: [{
                                    name: 'Withdrawal Amount',
                                    data: data
                                }]
                            });
                        });

                    </script>

                    <form method = POST action = "{{ url_for('personal') }}">
                        <div class = "form-group">
                            <label for = "inputDDate">Date</label>
                            <input type = "date" class = "form-control" name = "ddate">
                        </div>
                        <div class = "form-group">
                            <label for = "inputWAmt">Amount Deposited</label>
                            <input type = "number" class = "form-control" name = "damt">
                        </div>
                        <button type = "submit" name = "deposit" class = "btn btn-primary btn-block">Deposit Amount</button>
                        <div class = "form-group">
                            <label for = "inputWDate">Date</label>
                            <input type = "date" class = "form-control" name = "wdate">
                        </div>
                        <div class = "form-group">
                            <label for = "inputWAmt">Amount Withdrawn</label>
                            <input type = "number" class = "form-control" name = "wamt">
                        </div>
                        <button type = "submit" name = "withdrawal" class = "btn btn-primary btn-block">Withdraw Amount</button>
                        
                    </form>
                    <br>
                    <div>
                        <a href = "{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
