{% extends "layout.html"%}
{% block body%}
{% include "about_modal.html" %}
<div class="container-fluid remove-padding">
    <div class="row content text-center remove-margin align-items-center">
        <div class="col-md-6 logo-space remove-padding">
            <h1>moola</h1>
        </div>
        <div class="col-md-6">
            <div class="form-content">
                <h2 style="margin-bottom: 20px">register</h2>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Enter your username">
                    <div id="username-feedback">
                        {{ message }}
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" name="password" placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <input type="password" id="conf-password" class="form-control" name="conf_password" placeholder="Re-enter your password">
                    <div id="feedback">
                        
                    </div>
                </div>
                <button id="register-btn" disabled type="submit" class="btn btn-warning btn-block">Create Account</button>
                <label style="margin-top: 15px">Already have an account?</label>
                <button id="login-btn" type="submit" class="btn btn-success btn-block">Log In</button>
                <button type="button" class="btn footer-btn" data-toggle="modal" data-target="#myModal" style="margin: 10px auto; font-size: 16px">Wanna learn more?</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('input#conf-password').bind('keyup', function() {
            conf_val = $('input#conf-password').val();
            og_val = $('input#password').val();

            if (conf_val === '') {
                $("input#conf-password").removeClass("is-invalid");
                $("input#conf-password").removeClass("is-valid");
                $("div#feedback").removeClass("invalid-feedback");
                $("div#feedback").removeClass("valid-feedback");
                $("div#feedback").text("");              
            } else if (conf_val !== og_val) {
                $("input#conf-password").addClass("is-invalid");
                $("input#conf-password").removeClass("is-valid");
                $("div#feedback").addClass("invalid-feedback");
                $("div#feedback").removeClass("valid-feedback");
                $("div#feedback").text("Your re-entered password does not match.");
            } else {
                $("input#conf-password").removeClass("is-invalid");
                $("input#conf-password").addClass("is-valid");  
                $("div#feedback").removeClass("invalid-feedback");
                $("div#feedback").addClass("valid-feedback");
                $("div#feedback").text("");
            }

            username = $('input[name=username]').val();
            password = $('input[name=password]').val();
            conf = $('input[name=conf_password]').val();

            if (username.length && password.length && conf.length) {
                $('button#register-btn').prop('disabled', false);
            } else {
                $('button#register-btn').prop('disabled', true);
            }

        });
    });

    $('button#register-btn').bind('click', function() {
        $.post($SCRIPT_ROOT + '/registration', {
            "username": $('input[name="username"]').val(),
            "password": $('input[name="password"]').val(),
        }, function(data, textStatus) {
            if (data["status"]) {
                $('input[name=username]').addClass("is-invalid");
                $("div#username-feedback").addClass("invalid-feedback");
                $("div#username-feedback").text("User with this username already exists.");
            } else {
                $(location).attr('href', $SCRIPT_ROOT + '/dashboard');
            }
        }, "json");
    });

    $('button#login-btn').bind('click', function() {
        $(location).attr('href', $SCRIPT_ROOT + '/');
    });

    $(function() {
        $('input[name="username"]').bind('keyup', function() {
            $('input[name=username]').removeClass("is-invalid");
            $("div#username-feedback").removeClass("invalid-feedback");
            $("div#username-feedback").text("");

            username = $('input[name=username]').val();
            password = $('input[name=password]').val();
            conf = $('input[name=conf_password]').val();

            if (username.length && password.length && conf.length) {
                $('button#register-btn').prop('disabled', false);
            } else {
                $('button#register-btn').prop('disabled', true);
            }
        });

        $('input[name="password"]').bind('keyup', function() {
            username = $('input[name=username]').val();
            password = $('input[name=password]').val();
            conf = $('input[name=conf_password]').val();

            if (username.length && password.length && conf.length) {
                $('button#register-btn').prop('disabled', false);
            } else {
                $('button#register-btn').prop('disabled', true);
            }

        });
    });

</script>
{% endblock%}